<div class="row app-datapicker-container">
  <div class="col-sm-6">
    <mat-form-field>
      <mat-label>Choose start date</mat-label>
      <input matInput [matDatepicker]="start_picker" [max]="to_date" [formControl]="startDate" (dateChange)="onStartDataChange($event)">
      <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
      <mat-datepicker #start_picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-sm-6">
    <mat-form-field>
      <mat-label>Choose end date</mat-label>
      <input matInput [matDatepicker]="end_picker" [min]="since_date" [max]="max_date" [formControl]="endDate" (dateChange)="onEndDataChange($event)">
      <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
      <mat-datepicker #end_picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
