/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Lucida Console";
}

.app-main-view{
  margin: auto;
  width: 75%;
  padding: 4%;
  background-color: #ccccff;
  position: page;
  top: 0;
  bottom: 0;
  min-height: 100%;
  height: fit-content;
}
/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
