<div class="app-main-view">
  <h3 style="font-weight: bold; text-align: center">Popularity of technologies in time</h3>
  <app-tech-select></app-tech-select>
  <app-data-picker></app-data-picker>
  <app-line-chart></app-line-chart>
</div>
