<div class="app-select-container">
  <mat-form-field class="example-chip-list app-selected-list">
    <mat-chip-list #chipList aria-label="Tech selection">
      <mat-chip
        *ngFor="let tech of selected_technologies"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="onRemove(tech)">
        {{tech}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        style="color: black"
        placeholder="Choose technology..."
        #techInput
        [formControl]="techCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="onAdd($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
      <mat-option *ngFor="let tech of filteredTech | async" [value]="tech">
        {{tech}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

