.app-main-container{
  background-color:  whitesmoke;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.app-header{
  background-color: darkslateblue;
  color: whitesmoke;
  padding: 1.5%;
  height: fit-content;
  font-weight: bold;
  font-size: x-large;
  box-shadow: 0 3px 3px -2px black;
  z-index: 10;
}

.app-nav {
  background-color: darkslateblue;
  color: whitesmoke;
  display: table;
  padding: 1%;
  box-shadow: 0 3px 5px -1px black;
  z-index: 5;
}

.app-nav button {
  display: table-cell;
  margin: 0 1% 0 1%;
  font-size: medium;
}

.app-content-container{
  flex-grow: 1;
  overflow: auto;
}
