<div class="app-main-container">
  <header class="app-header">
    {{title}}
  </header>

  <div class="app-nav">
    <button mat-button id="button_one" (click)="router.navigate(['/home'])">Current popularity</button>
    <button mat-button id="button_two" (click)="router.navigate(['/popularity-history'])">Popularity in time</button>
    <button mat-button id="button_three" (click)="router.navigate(['/connected-technologies'])">Technology connections</button>
  </div>

  <div class="app-content-container">
    <router-outlet></router-outlet>
  </div>
</div>
