<div class="col app-main-view">
  <h3 style="font-weight: bold; text-align: center">List of connected technologies</h3>

  <app-tech-select></app-tech-select>

  <mat-progress-bar *ngIf="progressbarif" mode="indeterminate"></mat-progress-bar>

  <table mat-table *ngIf="suggests" [dataSource]="suggestedTechnologies" class="app-table mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name']" class="app-table-header"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name'];"></tr>
  </table>

</div>
